{% extends 'base/base.html' %}
{% load static %}

{% block 'head' %}

    <link href="{% static 'evento/css/evento.css' %}" rel="stylesheet">
    <link href="{% static 'usuario/css/usuario.css' %}" rel="stylesheet">
    {% block 'head_extra' %}{% endblock %}

{% endblock %}

{% block 'body' %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-color" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Type.Event</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Empresa
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'novo_evento' %}">Criar novo evento</a></li>
                            <li><a class="dropdown-item" href="{% url 'lista_todos' %}">Gerenciar eventos</a></li>
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Cliente
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'lista_meus_eventos' %}">Meus eventos</a></li>
                            <li><a class="dropdown-item" href="{% url 'meus_certificados' %}">Meus certificados</a></li>
                            <li><a class="dropdown-item" href="{% url 'lista_minhas_participacoes' %}">Minhas participações</a></li>
                            <li><a class="dropdown-item" href="{% url 'lista_terceiros' %}">Eventos de terceiros</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="">Usuário: &nbsp;<strong>{{request.user}}</strong></a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'sair' %}">Sair</a></li>
                        </ul>
                    </li>
                </ul>
                {% comment %} <form action="{% url 'sair' %}">
                    <button class="btn btn-sair" type="submit">Sair</button>
                </form> {% endcomment %}
            </div>
        </div>
    </nav>

    <div style="min-height: 60vh">
        {% block 'conteudo' %}

        {% endblock %}
    </div>

    <div class="fundo-pagina">
        
    </div>
{% endblock %}