{% extends "base/base_evento.html" %}
{% load static %}

{% block 'importacoes' %}
    <link href="{% static 'evento/css/evento.css' %}" rel="stylesheet">
    <link href="{% static 'evento/css/lista.css' %}" rel="stylesheet">
{% endblock %}

{% block 'conteudo' %}
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-3">
                <img width="100%" src="{{evento.logo.url}}">
                <h3 class="mt-4">{{evento.nome}}</h3> 
            </div>
            <div class="col-md">
                <div class="row flex-column gap-4">
                    <div class="col-md-2">
                        <span class="badge rounded-pill text-bg-danger p-2" style="width: 120px;"><a class="link text-warning fs-6" href="{% url 'participantes_evento' evento.id %}">Participantes</a></span>
                    </div>
                    <div class="col-md-2">
                        <span class="badge rounded-pill text-bg-danger p-2" style="width: 120px;"><a class="link text-warning fs-6" href="{% url 'certificados_evento' evento.id %}">Certificados</a></span>
                    </div>
                </div>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} text-center p-2 my-3">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <hr class="mt-0">

        <div class="d-flex flex-column">
            <h5 class="opacity-75 mb-3">Certificados para serem gerados: &nbsp;{{qtd_certificados}}</h5>
            <a href="{% url 'gerar_certificado' evento.id %}" class="{% if qtd_certificados > 0 %}btn-principal{% else %}btn-desabilitado{% endif %} text-decoration-none mb-2 text-center" style="width: 26%">GERAR TODOS OS CERTIFICADOS</a>
        </div>
        <hr>

        <div class="row">
            <h5>Buscar certificado</h5>
            <form action="{% url 'buscar_certificado' evento.id %}" method="POST">
                <div class="d-flex">
                    <input type="email" class="form-control w-50" placeholder="Digite o e-mail" name="email">{% csrf_token %}
                    <input type="submit" value="BUSCAR" class="btn btn-primary ms-4">
                </div>
            </form>
        </div>
        
    </div>

{% endblock %}