{% extends 'base/base_evento.html' %}

{% block 'conteudo' %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <img width="100%" src="{{evento.logo.url}}">
                <h3 class="mt-4">{{evento.nome}}</h3>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} text-center p-2 my-3">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <hr>
            <div class="col-md-6">
                <h5 class="justificada mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</h5>
                
                <p>Período: &nbsp;<span class="text-warning">{{evento.data_inicio}} a {{evento.data_termino}}</span></p>
                <form action="{% url 'ver_evento' evento.id %}" method="POST">{% csrf_token %}
                    <div class="d-flex justify-content-between mt-5">
                        <input type="submit" class="btn-principal" value="QUERO PARTICIPAR" 
                        {% if request.user == evento.criador or request.user in evento.participantes.all or evento.status == 'F' %} disabled {% endif %}>
                        <a href="{% url 'participantes_evento' evento.id %}" class="text-decoration-none {% if request.user == evento.criador %}btn-principal{% else %}btn-desabilitado{% endif %}"
                        >VER PARTICIPANTES</a>
                    </div>
                </form>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}
